<div class="xenial__web-view__html-string-component">
    @if (ComponentModel is not null)
    {
        <iframe @attributes="@ComponentModel.Attributes"
                style="width: 100%; min-height: 500px; height: 60vh; border: none;"
                src="@ComponentModel.Base64Value"
                ></iframe>
    }
</div>

@code
{
    /// <summary>	Gets or sets the component model. </summary>
    ///
    /// <value>	The component model. </value>

    [Parameter]
    public WebViewHtmlStringInputModel? ComponentModel { get; set; }

    /// <summary>	Creates a new RenderFragment. </summary>
    ///
    /// <param name="componentModel">	The component model. </param>
    ///
    /// <returns>	A RenderFragment. </returns>

    public static RenderFragment Create(WebViewHtmlStringInputModel componentModel) => @<WebViewHtmlStringComponent ComponentModel="@componentModel" />;

    /// <summary>	Values changed. </summary>
    ///
    /// <param name="value">	The value. </param>

    void ValuesChanged(string? value)
    {
        if (ComponentModel is not null)
        {
            ComponentModel.SetValueFromUI(value);
        }
    }
}
